body{
  background: red;
  padding: 0;
  margin: 0;
}

.container {
  margin: none;
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
}

video{
  position: absolute;
  top: 0;
  z-index: -1;
}

h1{
  width: 33%;
  text-align: center;
  position: absolute;
  display: inline;
  margin: auto;
  margin-left: 33%;
  margin-top: 30%;
  top: 50px;
  color: white;
  font-size: 46px;
  z-index: 1;
}

@media (max-width:600px){
  .mobile{
    width: 100vw;
  }
  .tablet, .desktop {
    display: none;
  }
  h1{
    font-size: 46px;
  }
}

@media (min-width:600px) and (max-width:900px){
  .tablet{
    width: 100vw;
  }
  .mobile, .desktop {
    display: none;
  }
}

@media (min-width:900px){
  .desktop{
    width: 100vw;
  }
  .tablet, .mobile{
    display: none;
  }
}
